{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {% comment %} Таблицы стилей {% endcomment %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <link rel="stylesheet" href="{% static "css/errors.css" %}">

    {% comment %} Иконка {% endcomment %}
    <link rel="icon" href="{% static "icons/icon6.png" %}">

    {% comment %} Шрифт {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Header -->
    <header id="header"><div class="logo"><a href="{% url "main:index" %}">Heart Of Orel</a></div>
            <a href="#menu">Меню</a>
    </header>
    
    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="{% url "main:index" %}"><i class="fa-solid fa-house"></i>   Главная</a></li>
            <li><a href="{% url "about:about" %}"><i class="fa-solid fa-user"></i>   О нас</a></li>
            <li><a href="{% url "places:places" %}"><i class="fa-solid fa-map-location"></i>    Малоизвестные места</a></li>

            {% if user.is_admin or user.is_staff %}
                <li><a href="{% url "admin:index" %}"><i class="fa-solid fa-screwdriver-wrench"></i>    Админ панель</a></li>
            {% endif %}

            {% if not user.is_authenticated %}
                {% comment %} <li><a href="{% url "users:login" %}"><i class="fa-solid fa-right-to-bracket"></i>    Войти</a></li> {% endcomment %}
            {% else %}
                {% comment %} <li><a href="{% url "users:profile" %}"><i class="fa-solid fa-user"></i>    Профиль</a></li> {% endcomment %}
                {% comment %} <li><a href="{% url "users:logout" %}"><i class="fa-solid fa-person-running"></i>    Выйти из аккаунта</a></li> {% endcomment %}
            {% endif %}

        </ul>
    </nav>

    <div class="login-container">
        {% comment %} <a href="{% url "main:index" %}" class="title">Heart Of Orel</a> {% endcomment %}
        <h1 class="sub_title" style="font-size: 35px;">Авторизация</h1>

        <form action="{% url "users:login" %}" method="post">

            {% csrf_token %}

            {% comment %} {% if form.non_field_errors %}
                <p>{{ form.non_field_errors }}</p>
            {% endif %} {% endcomment %}

            {% if form.non_field_errors %}
                <div class="error-container">
                    <h2 class="title_avtoris">Ошибка авторизации</h2>
                    <p class="error-message">{{ form.non_field_errors }}</p>
                </div>
            {% endif %}

            <div class="form-group">
                <label for="id_username">Имя пользователя</label>
                <input type="text" id="id_username"
                    value="{% if form.username.value %}{{ form.username.value }}{% endif %}"  
                    name="username"
                    placeholder="Введите имя пользователя"
                    required>
            </div>

            <div class="form-group">
                <label for="id_password">Пароль</label>
                <input type="password" id="id_password" 
                    name="password" 
                    placeholder="Введите пароль" 
                    required>
            </div>

            <button type="submit" class="btn">Войти
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>

            <div class="button_signup">
                <a href="{% url "users:registration" %}">Создать аккаунт
                    <i class="fa-solid fa-user"></i>
                </a>
            </div>
        </form>

        
        

    </div>
    
    {% comment %} <script src="{% static "js/login.js" %}"></script> {% endcomment %}
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.scrollex.min.js" %}"></script>
    <script src="{% static "js/skel.min.js" %}"></script>
    <script src="{% static "js/util.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/animation.js" %}"></script>
    <script src="{% static "js/message.js" %}"></script>
    <script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>
    <script src="{% static "js/profile.js" %}"></script>
    <script src="{% static "js/message.js" %}"></script>
</body>
</html>