{% load static %}

<!DOCTYPE html>
<html lang="ru">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        <!-- Таблица стилей -->
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/unknown-places.css" %}">
        <link rel="stylesheet" href="{% static "css/comments.css" %}">

        <!-- Иконка -->
        <link rel="icon" href="{% static "icons/icon6.png" %}">

        <!-- Шрифт -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>


    <body class="subpage">

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <a href="{% url "main:index" %}">Heart Of Orel</a>
            </div>
            
            <a href="#menu">Меню</a>
        </header>

        <!-- Меню -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{% url "main:index" %}"><i class="fa-solid fa-house"></i>   Главная</a></li>
                <li><a href="{% url "about:about" %}"><i class="fa-solid fa-user"></i>   О нас</a></li>
                <li><a href="{% url "places:places" %}"><i class="fa-solid fa-map-location"></i>    Малоизвестные места</a></li>

                {% if user.is_admin or user.is_staff %}
                    <li><a href="{% url "admin:index" %}"><i class="fa-solid fa-screwdriver-wrench"></i>    Админ панель</a></li>
                {% endif %}

                {% if not user.is_authenticated %}
                    <li><a href="{% url "users:login" %}"><i class="fa-solid fa-right-to-bracket"></i>    Войти</a></li>
                {% else %}
                    <li><a href="{% url "users:profile" %}"><i class="fa-solid fa-user"></i>    Профиль</a></li>
                    <li><a href="{% url "users:logout" %}"><i class="fa-solid fa-person-running"></i>    Выйти из аккаунта</a></li>
                {% endif %}

            </ul>
        </nav>

        <!-- Первая секция -->
        <section id="One" class="wrapper style10">
            <div class="inner">
                <header class="align-center">
                    <p>Heart Of Orel</p>
                    <h1 class="place-title">Отзывы</h1>
                    <h2 class="place-title" style="font-size: 40px;font-weight: 800;color: #f0c9ff">Сквер Гуртьева</h2>
                </header>
            </div>
        </section>

        <!-- Вторая секция -->
        <section id="two" class="wrapper style2">
            <div class="inner">
                <header class="align-center">
                    <h2 style="color: #fff; font-weight: 900; font-size: 45px;">Оставить комментарий</h2>
                    <p style="color: #fff; font-weight: 900; font-size: 25px;">Поделитесь своим мнением об этом парке!</p>
                </header>
        
                <div class="form-wrapper">
                    <form method="post" action="{% url "comment:seventh_comments" %}" id="comment-form">
                        {% csrf_token %}
                        <div class="row">

                            <div style="display: flex; align-items: flex-start;"> 
                                {% if user.image %}
                                    <div class="avatar-container">
                                        <img id="avatar" src="{{ user.image.url }}" alt='Аватар пользователя'>
                                    </div>
                                {% else %}
                                    <div class="avatar-container">
                                        <img id="avatar" src="{% static "images/base-avatar.jpg" %}">
                                    </div>
                                {% endif %}
                            </div>

                            <div>
                                <label for="id_author"></label>
                                <input type="text" id="id_author"
                                name="author" 
                                placeholder="Имя" 
                                value="{{ user.username }}"
                                required
                                readonly
                                />
                                
                                {% if user.username.errors %}
                                    <span class="error-message" id="first_name-error">{{ user.username.errors }}</span>
                                {% endif %}
                                
                            </div>

                            <div class="col-12">
                                <textarea name="text" id="id_text" required placeholder="Ваш комментарий" rows="6"></textarea>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <button type="submit">Отправить</button>
                                    <li><input type="reset" value="Очистить" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        
        
        <section id="two" class="wrapper style2">
            <div class="inner">
                {% if comments %}
                    {% for comment in comments %}

                        <div class="comment">
                            <div style="padding: 4px;">
                                {% if comment.avatar_url %}
                                    <div class="avatar-container">
                                        <img id="avatar" src="{{ comment.avatar_url }}" alt="Аватар пользователя">
                                    </div>
                                {% else %}
                                    <div class="avatar-container">
                                        <img id="avatar" src="{% static "images/base-avatar.jpg" %}">
                                    </div>
                                {% endif %}
                            </div>

                            <div class="comment-content">
                                {% if comment.author.is_superuser %}
                                    <div class="comment-author" style="color: red;">
                                        (Админ)
                                        {{ comment.author }}
                                    </div>
                                {% else %}
                                    <div class="comment-author">
                                        {{ comment.author }}
                                    </div>
                                {% endif %}
                                <div class="comment-text">
                                    {{ comment.text }} 
                                </div>
                                
                                {% if user.is_superuser or user == comment.author %}
                                    <a class="comment-delete__button" href="{% url 'comment:delete_seventh_comments' comment.id %}">Удалить комментарий</a>
                                {% endif %}

                                <div class="comment-date">
                                    {{ comment.created_at|date:"d.m.Y H:i" }}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}
            </div>
        </section>

        

        <!-- Footer -->
		<footer id="footer">
            <div class="container">
                <ul class="icons">
                    {% comment %} <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> {% endcomment %}
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
        </footer>
        
        <div class="copyright">
            Сайт разработали: <br> 
            Apex Team<br>
            {% comment %} <hr style="border: 1px solid #0c000c; width: 50%; margin: 20px 25% 20px 25%;"> {% endcomment %}
            &copy; 2025 Все права защищены.
        </div>

        <!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.scrollex.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/animation.js" %}"></script>
        <script src="{% static "js/modal_window.js" %}"></script>
		<script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>

    
    </body>

</html>