body {
    font-family: "Montserrat", serif;
    background-image: url(../images/bg1.png);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    width: 100%;
}

.title {
    text-align: center;
}

.title_site {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;

    transition: all 0.2s ease-in-out;
}

.title_site:hover {
    color: #5c0ccb;
}

.profile-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden; /* Для корректного отображения при разных размерах экранов */
    padding: 20px;
    gap: 20px; /* Расстояние между блоками */
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 250px;
}


#avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid #ddd;
}

.avatar-upload-button {
    background-color: #5c0ccb;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.avatar-upload-button:hover {
    background-color: #2f0b61;
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    margin-bottom: 50px;
    
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 20px;
}
.form-group textarea {
    resize: vertical;
}

.save-button {
    background-color: #5c0ccb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;

    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #2f0b61;
}

.logout-button {
    background-color: #5c0ccb;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;

    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #2f0b61;
}

.error-message {
    color: #d9534f;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

/* Адаптивность */
@media (max-width: 768px) {
    .profile-card {
        flex-direction: column;
    }
    .avatar-container {
        margin-bottom: 20px; /* Добавляем отступ для лучшего отображения */
    }
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; /* Добавили отступ снизу */
}


.message {
    padding: 10px;
    border-radius: 8px;
    color: white;
    text-align: center;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
}


.success {
    background-color: #369239; /* Зеленый */
}

.message-success {
    font-size: 20px;
}

.message-errors {
    font-size: 20px;
}

.error {
    background-color: #992f27; /* Красный */
}


/* Адаптивность для мобильных устройств */
@media (max-width: 600px) {
    .message-container {
        width: 95%;
        gap: 15px;
    }
    .message {
        padding: 15px;
    }
}
