ul {
    list-style: none;
}

body {
    font-family: "Montserrat", serif;
}

.place-title {
    font-size: 50px;
    color: #ffffff;
}

.navigate_place {
    font-size: 40px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}


.info-text {
    text-align: center;
}

.info-text h2 {
    font-size: 35px;
    
    transition: all 0.2s ease-in;
}

.comment-button {
    display: block;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #da70d6;
    border-radius: 40px;
    font-weight: 900;

    transition: all 0.3s ease-in-out;
}

.comment-button:hover {
    background-color: #8b4989;
}

/* Аккордеон */
summary {
    list-style: none;
}
.details {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0 auto 10px;
    border-radius: 10px;
    transition: 0.6s;
    overflow: hidden;

    /* background: #ffbbfc36; */
    background: #ffbbfc21;
}

.details:after {
    position: absolute;
    right: 25px;
    top: 29px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: .3s;
}

.details[open]::after {
    transform: rotate(45deg);
}

.details[open] {
    padding-bottom: 15px;
}

.details[open] .details__title {
    margin-bottom: 20px;
}

.details__title {
    background: #00000030;
    border-radius: 10px;
    padding: 12px 24px;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    cursor: pointer;
    list-style: none;
    transition: .3s;
}

.details__title::-webkit-details-marker {
    display: none;
}

.details__text {
    color: #ffffff;
    font-weight: 400;
    font-size: 20px;
}

@media (max-width: 600px) {
    .details::after {
        right: 15px;
    }
}