{% load static %}

<!DOCTYPE html>
<html lang="ru">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        <!-- Таблица стилей -->
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/unknown-places.css" %}">

        <!-- Иконка -->
        <link rel="icon" href="{% static "icons/icon6.png" %}">

        <!-- Шрифт -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>


    <body class="subpage">

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <a href="{% url "main:index" %}">Heart Of Orel</a>
            </div>
            
            <a href="#menu">Меню</a>
        </header>

        <!-- Меню -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{% url "main:index" %}"><i class="fa-solid fa-house"></i>   Главная</a></li>
                <li><a href="{% url "about:about" %}"><i class="fa-solid fa-user"></i>   О нас</a></li>
                <li><a href="{% url "places:places" %}"><i class="fa-solid fa-map-location"></i>    Малоизвестные места</a></li>

                {% if user.is_admin or user.is_staff %}
                    <li><a href="{% url "admin:index" %}"><i class="fa-solid fa-screwdriver-wrench"></i>    Админ панель</a></li>
                {% endif %}

                {% if not user.is_authenticated %}
                    <li><a href="{% url "users:login" %}"><i class="fa-solid fa-right-to-bracket"></i>    Войти</a></li>
                {% else %}
                    <li><a href="{% url "users:profile" %}"><i class="fa-solid fa-user"></i>    Профиль</a></li>
                    {% comment %} <li><a href="{% url "users:logout" %}"><i class="fa-solid fa-person-running"></i>    Выйти из аккаунта</a></li> {% endcomment %}
                {% endif %}

            </ul>
        </nav>

        <!-- Первая секция -->
        <section id="One" class="wrapper style10">
            <div class="inner">
                <header class="align-center">
                    <p>Heart Of Orel</p>
                    <h2 class="place-title">Сквер Гуртьева</h2>
                </header>
            </div>
        </section>

        <!-- Вторая секция -->
        <section id="two" class="wrapper style2">
            <div class="inner">
                <div class="box animation">
                    <div class="content animation">

                        <header class="align-center animation">
                            <p>Достопримечательность</p>
                            <h2>Подробная информация</h2>
                        </header>

                        <p>
                            <b>В центре Советского района,</b> в квадрате улиц Октябрьской, Пионерской, Салтыкова-Щедрина и Гуртьева на ровном месте среди жилой 
                            застройки находится сквер имени Героя Советского Союза генерала <b>Л. Н. Гуртьева</b> — командира дивизии, освободившей Орёл в августе 43-го. 
                            Перед входной зоной сквера располагается площадь  Каменского. За сквером — библиотека им. Бунина. Площадь составляет <b>2.8 га.</b> 
                            Квадрат сквера красиво вписался в четыре улицы.
						</p>

                        <p>
                            Свободную территорию этого квартала называли Соборной площадью, Каменской площадью. 
                            <b>В 1815—1835 гг.</b> здесь показывал спектакли театр крепостных актёров графа С. М. Каменского. Это место долго оставалось незастроенным. 
                            И лишь в <b>1843 году</b> здесь по инициативе помещика отставного полковника М. П. Бахтина был устроен комплекс строений кадетского корпуса. 
                            На церемонии закладки главного здания <b>19 августа 1837</b> года присутствовал будущий император Александр II. <b>В сентябре 1842 года</b>
                            строящиеся корпуса осматривал Николай I. По его велению перед главным корпусом посадили липовые аллеи. Впоследствии площадь называли 
                            «Кадетской», «площадью Бахтина». Официального названия у площади, среди улиц и площадей, не было, так как это место было отведено 
                            для служебного обслуживания специализированного учебного заведения.
                        </p>

                        <p>
                            <b>В 1925 году</b> площадь переименовали в площадь III Интернационала, а <b>6 февраля 1948 года</b> — в сквер Гуртьева. 
                            До войны на этом месте проводили военные занятия курсанты Орловского бронетанкового училища им. М. В. Фрунзе, которые жили 
                            напротив сквера в четырёхэтажном доме. Дом немцы взорвали в <b>1943 году.</b> Работы по благоустройству были завершены в <b>1949 году.</b> 
                            Посередине сквера проложена широкая дорожка из каменных плит, она делит его на две равные части. Лицом к главному входу 
                            (со стороны улицы Октябрьской) возвышается бронзовый памятник <b>Л. Н. Гуртьеву.</b> Памятник работы скульптора Е. В. Вучетича и 
                            архитектора Я. Б. Белопольского был открыт <b>5 августа 1954 года</b> и установлен на постаменте из красного гранита у главного 
                            входа библиотеки им. Н. К. Крупской (сегодня им. Бунина) на месте, где первоначально находилась могила Гуртьева. 
                            <b>Осенью 1976 года</b> памятник перенесли в сквер Гуртьева. <b>5 августа 1968 года</b> в честь 25-летия освобождения города Орла участниками 
                            Великой Отечественной войны была заложена липовая аллея по обеим сторонам центральной дорожки. Каждое дерево имеет 
                            фамилию, имя, отчество и воинское звание того, кто его посадил. На территории сквера произрастают: липа (некоторым около 170 лет),
                            ель обыкновенная и ель колючая, ель канадская и серебристая, рябина обыкновенная, дёрен белый и красный, жимолость, сирень. 
                            По скверу приятно прогуляться и летом, и зимой, и унылой осенней порой.
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <!-- Третья секция -->
        <section id="three" class="wrapper style2">
            <div class="inner animation">
                
                <header class="align-center animation">
                    <h2><span class="navigate_place" style="font-weight: 900; color: #fff;">Фотографии</span></h2>
                </header>

                <div class="container">

                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/seventh_place_bg_1.png" %}" alt="Картинка 1" width="600" height="300">
                        </div>
                    </div>

                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/seventh_place_1.png" %}" alt="Картинка 2" width="600" height="300">
                        </div>
                    </div>

                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/seventh_place_2.png" %}" alt="Картинка 3" width="600" height="300">
                        </div>
                    </div>

                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/seventh_place_3.png" %}" alt="Картинка 4" width="600" height="300">
                        </div>
                    </div>

                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/seventh_place_4.png" %}" alt="Картинка 5" width="600" height="300">
                        </div>
                    </div>
                </div>



            </div>
        </section>

        <!-- Четвёртая секция -->
        <section id="four" class="wrapper style2">
            <div class="inner">
                <div class="content">
                    <ul class="info-text">
                        <details class="details animation" name="faq">
                            <summary class="details__title">Обновлённый парк <i class="fa-solid fa-star"></i></summary>
                            <p class="details__text">Совсем недавно сквер Гуртьева был отремонтирован и теперь выглядит ещё лучше.</p>
                        </details>
                        
                        <hr class="animation" size="2" width="100%">

                        <details class="details animation" name="faq">
                            <summary class="details__title">В центре города <i class="fa-solid fa-tree-city"></i></summary>
                            <p class="details__text">Сквер находится практически в центре города, рядом с Фундаментальной библиотекой ОГУ.</p>
                        </details>
                        
                        <hr class="animation">

                        <details class="details animation" name="faq">
                            <summary class="details__title">С оценкой 4,7
                                <i class="fa-solid fa-star"></i> 
                                <i class="fa-solid fa-star"></i> 
                                <i class="fa-solid fa-star"></i> 
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star-half-stroke"></i>
                            </summary>
                            <p class="details__text">Сквер имеет очень хорошую оценку!</p>
                        </details>
                        
                        <hr class="animation">

                        <details class="details animation" name="faq">
                            <summary class="details__title">Рядом с библиотекой ОГУ <i class="fa-solid fa-book"></i></summary>
                            <p class="details__text">Как мы уже описали раннее, сквер находится рядом с Фундаментальной библиотекой ОГУ.
                                Студенты могут сразу сюда придти и с удовольствием погулять!
                            </p>
                        </details>
                        
                    </ul>
                </div>
            </div>
        </section>
        
        <!-- Пятая секция -->

        {% if user.is_authenticated %}
            <section id="four" class="wrapper style2">
                <div class="inner2">
                    <div class="content animation">
                        {% comment %} <h2 style="text-align: center;"><span class="navigate_place">Написать отзыв</span></h2> {% endcomment %}
                        <a class="comment-button" href="{% url "comment:seventh_comments" %}">Комментарии <i class="fa-solid fa-comment"></i></a>
                    </div>
                </div>
            </section>
        {% else %}
            <section id="four" class="wrapper style2">
                <div class="inner2">
                    <div class="content animation">
                        {% comment %} <h2 style="text-align: center;"><span class="navigate_place">Написать отзыв</span></h2> {% endcomment %}
                        <h1 style="color: #fff; cursor: pointer;" class="comment-button" href="#">Написать комментарий <i class="fa-solid fa-comment"></i></h1>
                        <h1 style="color: #fff; font-weight: 900; text-align: center; font-size: 25px;"><span style="color: red;">!</span> Комментарии могут писать только авторизованные пользователи <span style="color: red;">!</span></h1>
                    </div>
                </div>
            </section>
        {% endif %}
        

        
        <!-- Шестая секция -->
        <section id="four" class="wrapper style2">
            <div class="inner">
                <div class="content animation">
                    <h2 style="text-align: center; font-weight: 900; color: #fff;"><span class="navigate_place">Расположение</span></h2>
                </div>
            </div>
        </section>

        <center class="animation">
            <iframe style="display: flex; justify-content: center; width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1201.2624778514146!2d36.063314139098985!3d52.974959608176384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413210bb4b55e177%3A0x95898892476f233b!2z0J_QsNC80Y_RgtC90LjQuiDQs9C10L3QtdGA0LDQuy3QvNCw0LnQvtGA0YMg0Jsu0J0uINCT0YPRgNGC0YzQtdCy0YM!5e0!3m2!1sru!2sru!4v1746700171832!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </center>

        <!-- Footer -->
		<footer id="footer">
            <div class="container">
                <ul class="icons">
                    {% comment %} <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> {% endcomment %}
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
        </footer>
        
        <div class="copyright">
            Сайт разработали: <br> 
            Apex Team<br>
            {% comment %} <hr style="border: 1px solid #0c000c; width: 50%; margin: 20px 25% 20px 25%;"> {% endcomment %}
            &copy; 2025 Все права защищены. <br>
            <br>
            <br>
            Альфа версия - 0.7.1
        </div>

        <!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.scrollex.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/animation.js" %}"></script>
        <script src="{% static "js/modal_window.js" %}"></script>
		<script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>

    
    </body>

</html>