{% load static %}

<!DOCTYPE html>
<html lang="ru">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        <!-- Таблица стилей -->
        <link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/unknown-places.css" %}">

        <!-- Иконка -->
        <link rel="icon" href="{% static "icons/icon6.png" %}">

        <!-- Шрифт -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>


    <body class="subpage">

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <a href="{% url "main:index" %}">Heart Of Orel</a>
            </div>
            
            <a href="#menu">Меню</a>
        </header>

        <!-- Меню -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{% url "main:index" %}"><i class="fa-solid fa-house"></i>   Главная</a></li>
                <li><a href="{% url "about:about" %}"><i class="fa-solid fa-user"></i>   О нас</a></li>
                <li><a href="{% url "places:places" %}"><i class="fa-solid fa-map-location"></i>    Малоизвестные места</a></li>

                {% if user.is_admin or user.is_staff %}
                    <li><a href="{% url "admin:index" %}"><i class="fa-solid fa-screwdriver-wrench"></i>    Админ панель</a></li>
                {% endif %}

                {% if not user.is_authenticated %}
                    <li><a href="{% url "users:login" %}"><i class="fa-solid fa-right-to-bracket"></i>    Войти</a></li>
                {% else %}
                    <li><a href="{% url "users:profile" %}"><i class="fa-solid fa-user"></i>    Профиль</a></li>
                    {% comment %} <li><a href="{% url "users:logout" %}"><i class="fa-solid fa-person-running"></i>    Выйти из аккаунта</a></li> {% endcomment %}
                {% endif %}

            </ul>
        </nav>

        <!-- Первая секция -->
        <section id="One" class="wrapper style8">
            <div class="inner">
                <header class="align-center">
                    <p>Heart Of Orel</p>
                    <h2 class="place-title">Детский парк</h2>
                </header>
            </div>
        </section>

        <!-- Вторая секция -->
        <section id="two" class="wrapper style2">
            <div class="inner">
                <div class="box animation">
                    <div class="content animation">

                        <header class="align-center animation">
                            <p>Достопримечательность</p>
                            <h2>Подробная информация</h2>
                        </header>

                        <p>
                            <b>Детский парк в городе Орле</b> — муниципальное бюджетное учреждение культуры, одно из любимых мест отдыха горожан, 
                            популярное место проведения культурных, спортивных, творческих и праздничных городских мероприятий.
                            Детский парк занимает территорию в <b>6,5 Га</b> вдоль левого берега Оки и левого берега ее притока Орлика в районе Городского ПКиО, 
                            пешеходной улицы Ленина и Пролетарской горы, на которой находится Правительство Орловской области, Администрация Орла, Главпочтамт,
                            Орловский академический театр им И. С. Тургенева, — то есть <b>в самом центре Орла</b>, создавая вместе с ними лицо города. Напротив парка
                            расположена стрелка Оки и Орлика, а на ней — парк «Орловская крепость», где в середине XVI в. появилась давшая жизнь городу
                            крепость Орёл. Со стрелкой Детский парк соединяют два моста: <b>Трубный и Подвесной</b>, расположенный рядом с Богоявленским собором
                            и Краеведческим музеем города.
						</p>

                        <p>
                            Об основании Орловского Детского парка известно мало, но точно не осталась незамеченной реконструкция, проведенная в <b>2020 г.</b> 
                            Парк приобрел свежий вид и новую инфраструктуру. В нем установили современные детские площадки и стильные деревянные лавочки, 
                            навесы от солнца и урны, плиткой выложили дорожки, выделили велодорожки, оборудовали места для проведения массовых мероприятий. 
                            В рамках обновления были восстановлен фонтан «Пьющие лошади» и высажено более сотни молодых деревьев. Однако все также парк радует 
                            почтенного возраста ивами, длинные ветви которых склоняются до самой земли.
                        </p>

                        <p>
                            В Детском парке Орла для юных отдыхающих парка установлены аттракционы <b>«Лошадки», «Машинки», «Паровозик», карусель «Клоун»</b> и 
                            другие. Стоимость билета на каждый из них варьируется в пределах <b>60–150 руб.</b> Кроме них в парке предлагаются прогулки на лошади
                            и прокат взрослых и детских веломобилей. Часть аттракционов работает, но меняется режим и условия их работы: вряд ли и вам 
                            захочется кататься, если температура на улице ниже -6 С, идет дождь или валит снег. Обо всех изменениях сообщается на его <b>странице Вконтакте.</b>
                            Соответствуя своему названию, Детский парк располагает несколькими детскими площадками с разного рода качелями, скалодромами, 
                            горками, игровыми городками. Площадки имеют специальное покрытие, которое при падении ребенка снижает возможность травмирования.
                            Летом в парке работает сухой фонтан, в котором так любят брызгаться и мочить ноги дети. Восторг вызывает и Зоовыставка, где 
                            содержатся милые и дружелюбные звери: <b>черепахи, хорьки, шиншиллы, кролики, мыши, попугаи.</b>
                            Интересной и полезной для посетителей постарше будет площадка с уличными тренажерами, также имеющая спецпокрытие. Кроме всего, 
                            она находится близко к берегу и во время тренировки позволяет любоваться пейзажем Оки. Напротив нее на реке находится станция 
                            проката водного транспорта — <b>лодок и катамаранов.</b>
                        </p>

                        <p>
                            На территории Детского парка в Орле также есть <b>амфитеатр и фестивальная площадка.</b> К Новому году, Дню студента, Масленице, 
                            1 Мая, Дню Победы, Дню знаний и другим праздникам на них проходят <b>концерты и спектакли.</b> Кроме этого, в парке регулярно 
                            организуются анимационные, игровые и танцевальные, программы, многие из которых ориентированы, конечно же, на детский и семейный отдых.
                            Поскольку большинство подобных мероприятий проходит на открытом воздухе, летом афиша Детского парка особенно радует разнообразием. 
                            Еженедельно здесь можно стать участником <b>спортивных разминок, школы танцев, фестиваля рисунка мелом, турниров по гигантской дженге,
                            а при жаркой погоде — водной битвы.</b> Взрослые гости наверняка оценят утреннюю субботнюю йогу, фестивали уличного кино или поэтические
                            вечера. Часть анонсов предстоящих мероприятий дается на официальном сайте парка, однако более полное расписание 
                            стоит искать в <b>официальной группе парка Вконтакте.</b>
                        </p>

                    </div>
                </div>
            </div>
        </section>

        <!-- Третья секция -->
        <section id="three" class="wrapper style2">
            <div class="inner animation">
                
                <header class="align-center animation">
                    <h2><span class="navigate_place" style="font-weight: 900; color: #fff;">Фотографии</span></h2>
                </header>

                <div class="container">
                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/sixth_place_1.png" %}" alt="Картинка 1" width="600" height="300">
                        </div>
                    </div>

                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/sixth_place_2.png" %}" alt="Картинка 2" width="600" height="300">
                        </div>
                    </div>

                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/sixth_place_3.png" %}" alt="Картинка 3" width="600" height="300">
                        </div>
                    </div>

                    <div>
                        <div class="image fit animation">
                            <img class="thumbnail" src="{% static "images/sixth_place_4.png" %}" alt="Картинка 4" width="600" height="300">
                        </div>
                    </div>
                </div>



            </div>
        </section>

        <!-- Четвёртая секция -->
        <section id="four" class="wrapper style2">
            <div class="inner">
                <div class="content">
                    <ul class="info-text">
                        <h2 class="animation" style="font-weight: 900; color: #fff;"><li>Все жители знают о парке
                            <i class="fa-solid fa-person"></i>
                        </li></h2>
                        <hr class="animation" size="2" width="100%">

                        <h2 class="animation" style="font-size: 31px; font-weight: 900; color: #fff;"><li>Площадь 6,5 Га
                            <i class="fa-solid fa-square"></i>
                        </li></h2>
                        <hr class="animation">

                        <h2 class="animation" style="font-weight: 900; color: #fff;"><li>Имеет оценку 4,4 
                            <i class="fa-solid fa-star"></i> 
                            <i class="fa-solid fa-star"></i> 
                            <i class="fa-solid fa-star"></i> 
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                        </li></h2>
                        <hr class="animation">

                        <h2 class="animation" style="font-weight: 900; color: #fff;"><li>Историческое место
                            <i class="fa-solid fa-clock-rotate-left"></i>
                        </li></h2>
                    </ul>
                </div>
            </div>
        </section>
        
        <!-- Пятая секция -->

        {% if user.is_authenticated %}
            <section id="four" class="wrapper style2">
                <div class="inner2">
                    <div class="content animation">
                        {% comment %} <h2 style="text-align: center;"><span class="navigate_place">Написать отзыв</span></h2> {% endcomment %}
                        <a class="comment-button" href="{% url "comment:sixth_comments" %}">Комментарии <i class="fa-solid fa-comment"></i></a>
                    </div>
                </div>
            </section>
        {% else %}
            <section id="four" class="wrapper style2">
                <div class="inner2">
                    <div class="content animation">
                        {% comment %} <h2 style="text-align: center;"><span class="navigate_place">Написать отзыв</span></h2> {% endcomment %}
                        <h1 style="color: #fff; cursor: pointer;" class="comment-button" href="#">Написать отзыв</h1>
                        <h1 style="color: #fff; font-weight: 900; text-align: center; font-size: 25px;"><span style="color: red;">!</span> Отзывы могут писать только авторизованные пользователи <span style="color: red;">!</span></h1>
                    </div>
                </div>
            </section>
        {% endif %}
        

        
        <!-- Шестая секция -->
        <section id="four" class="wrapper style2">
            <div class="inner">
                <div class="content animation">
                    <h2 style="text-align: center; font-weight: 900; color: #fff;"><span class="navigate_place">Расположение</span></h2>
                </div>
            </div>
        </section>

        <center class="animation">
            <iframe style="display: flex; justify-content: center; width: 100%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2402.8552703005503!2d36.065398288829556!3d52.96901793526767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413210a193bc7d3b%3A0xb27b5ddaeb86f0c0!2z0JTQtdGC0YHQutC40Lkg0L_QsNGA0Lo!5e0!3m2!1sru!2sru!4v1746214066057!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </center>

        <!-- Footer -->
		<footer id="footer">
            <div class="container">
                <ul class="icons">
                    {% comment %} <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> {% endcomment %}
                    <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
            </div>
        </footer>
        
        <div class="copyright">
            Сайт разработали: <br> 
            Apex Team<br>
            {% comment %} <hr style="border: 1px solid #0c000c; width: 50%; margin: 20px 25% 20px 25%;"> {% endcomment %}
            &copy; 2025 Все права защищены.
        </div>

        <!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.scrollex.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/animation.js" %}"></script>
        <script src="{% static "js/modal_window.js" %}"></script>
		<script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>

    
    </body>

</html>