{% load static %}

<!DOCTYPE HTML>
<html lang="ru">
	<head>
		
		<meta charset="utf-8">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
		<link rel="stylesheet" href="{% static "css/main.css" %}">

        {% comment %} Иконка {% endcomment %}
        <link rel="icon" href="{% static "icons/icon6.png" %}">

	</head>

	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo">
					<a href="{% url "main:index" %}">Heart Of Orel</a>
				</div>
				<a href="#menu">Меню</a>
			</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="{% url "main:index" %}"><i class="fa-solid fa-house"></i>   Главная</a></li>
				<li><a href="{% url "about:about" %}"><i class="fa-solid fa-user"></i>   О нас</a></li>
				<li><a href="{% url "places:places" %}"><i class="fa-solid fa-map-location"></i>    Малоизвестные места</a></li>
			</ul>
		</nav>

		<!-- One -->
		<section id="One" class="wrapper style3">
			<div class="inner">
				<header class="align-center">
					<p>Heart of Orel</p>
					<h2>Малоизвестные места нашего города</h2>
				</header></div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper style2"><div class="inner">
				<div class="box">
					<div class="content">
						<header class="align-center">
							<p>Heart of Orel</p>
							<h2>Ниже представлена подборка малоизвестных мест города Орла. <br> <br> Листай ниже 👇</h2>
						</header>
						
					</div>
				</div>
			</div>
		</section>

        <section id="one" class="wrapper style2">
            <div class="inner">
                <div class="grid-style">
                    <div>
                        <div class="box">
                            <div class="image fit animation">
                                <img src="{% static "images/1.jpg" %}" alt="" width="600" height="300">
                            </div>

                            <div class="content animation">
                                <header class="align-center"><p>Танкситам фрунзенцам в память о героических подвигах</p>
                                    <h2>Памятник танкистам</h2>
                                </header><p>Этот мемориальный комплекс был установлен героям - танкистам</p>
                                <footer class="align-center">
                                    <a href="{% url "places:first_place" %}" class="button alt">Подробнее</a>
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <div class="image fit animation">
                                <img src="{% static "images/2.jpg" %}" alt="" width="600" height="300">
                            </div>

                            <div class="content animation">
                                <header class="align-center"><p>Химмашевский пруд, расположенный в районе Знаменки</p>
                                    <h2>Химмашевский пруд</h2>
                                </header>
                                <p>Пруд малоизвестен. Расположен рядом с заводом Химмаш</p>
                                <footer class="align-center"><a href="#" class="button alt">Подробнее</a>
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <div class="image fit animation">
                                <img src="{% static "images/3.png" %}" alt="" width="600" height="300">
                            </div>

                            <div class="content animation">
                                <header class="align-center"><p>Разрушенная крепость, стилизованная под крепостную стену.</p>
                                    <h2>Сабуровская крепость</h2>
                                </header>
                                <p>Крайне интересное место, к сожалению, пока не восстановленное</p>
                                <footer class="align-center">
                                    <a href="#" class="button alt">Подробнее</a>
                                </footer>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <div class="image fit animation">
                                <img src="{% static "images/4.jpg" %}" alt="" width="600" height="300">
                            </div>

                            <div class="content animation">
                                <header class="align-center"><p>Река Неполодь сыграла важную роль в ходе Великой Отечественной Войны</p>
                                    <h2>Река неполодь</h2>
                                </header>
                                <p>2 авг. 1943 года к полудню главные силы 3-й армии Брянского полка</p>
                                <footer class="align-center">
                                    <a href="#" class="button alt">Подробнее</a>
                                </footer>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        
		<!-- Footer -->
        <footer id="footer">
            <div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul></div>
			</footer>
			<div class="copyright">
			    Heart of Orel - DevTeam
            </div>

		<!-- Scripts -->
			<script src="{% static "js/jquery.min.js" %}"></script>
			<script src="{% static "js/jquery.scrollex.min.js" %}"></script>
			<script src="{% static "js/skel.min.js" %}"></script>
			<script src="{% static "js/util.js" %}"></script>
			<script src="{% static "js/main.js" %}"></script>
            <script src="{% static "js/animation.js" %}"></script>
            <script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>
	</body>
</html>
