{% load static %}

<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<title>{{ title }}</title>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{% comment %} Таблицы стилей {% endcomment %}
		<link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/index.css" %}">

        {% comment %} Иконка {% endcomment %}
        <link rel="icon" href="{% static "icons/icon6.png" %}">

        {% comment %} Шрифт {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url "main:index" %}">Heart Of Orel<span></span></a></div>
				<a href="#menu">Меню</a>				
			</header>
			
			<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url "main:index" %}"><i class="fa-solid fa-house"></i>   Главная</a></li>
					<li><a href="{% url "about:about" %}"><i class="fa-solid fa-user"></i>   О нас</a></li>
					<li><a href="{% url "places:places" %}"><i class="fa-solid fa-map-location"></i>    Малоизвестные места</a></li>

					{% if user.is_admin or user.is_staff %}
						<li><a href="{% url "admin:index" %}"><i class="fa-solid fa-screwdriver-wrench"></i>    Админ панель</a></li>
					{% endif %}

					{% if not user.is_authenticated %}
						<li><a href="{% url "users:login" %}"><i class="fa-solid fa-right-to-bracket"></i>    Войти</a></li>
					{% else %}
						<li><a href="{% url "users:profile" %}"><i class="fa-solid fa-user"></i>    Профиль</a></li>
						{% comment %} <li><a href="{% url "users:logout" %}"><i class="fa-solid fa-person-running"></i>    Выйти из аккаунта</a></li> {% endcomment %}
					{% endif %}

				</ul>
			</nav>

			<!-- Banner -->
			
			<section class="banner full">

				<article>
					<img src="{% static "images/fifth_place_2_bg.png" %}" alt="" width="1440" height="961"><div class="inner">
						<header>
							<p>Известное место среди орловчан</p>
							<h2>Сквер Танкистов</h2>
						</header></div>
				</article>

				<article>
					<img src="{% static "images/sixth_place_bg.png" %}" alt="" width="1440" height="961">
					<div class="inner">
						<header>
							<p>Любимое место детей</p>
							<h2>Детский парк</h2>
						</header>
					</div>
				</article>
				
				<article>
					<img src="{% static "images/seventh_place_bg.png" %}" alt="" width="1440" height="962">
					<div class="inner">
						<header>
							<p>Небольшой сквер с памятником...</p>
							<h2>Сквер Гуртьева</h2>
						</header>
					</div>
				</article>
				
				<article>
					<img src="{% static "images/eigth_place_11.png" %}" alt="" width="1440" height="961">
					<div class="inner">
						<header>
							<p>Орловский Гос.Университет</p>
							<h2>ОГУ</h2>
						</header>
					</div>
				</article>
				
				<article>
					<img src="{% static "images/nineth_place_bg.png" %}" alt="" width="1440" height="962">
					<div class="inner">
						<header>
							<p>Исторический памятник в...</p>
							<h2>Памятник <br>Ивану Грозному</h2>
						</header>
					</div>
				</article>

				<article>
					<img src="{% static "images/tenth_place_bg.png" %}" alt="" width="1440" height="962">
					<div class="inner">
						<header>
							<p>Памятник Героям Гражданской войны</p>
							<h2>Памятник Героям...</h2>
						</header>
					</div>
				</article>
			
			</section>
			
			<!-- One -->
			 <section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box animation">
								<div class="image fit">
									<img src="{% static "images/fifth_place.jpg" %}" alt="" width="600" height="300"></div>
								<div class="content animation">
									<header class="align-center"><p>Известное место среди орловчан</p>
										<h2>Сквер Танкистов</h2>
									</header><p style="text-align: center;">Мемориальный сквер в честь подвига героев — танкистов, первыми ворвавшимися в Орёл при освобождении города от немецких оккупантов. 
										Расположен в Железнодорожном районе между улицами Московской и Пушкина.</p>
									<footer class="align-center">
										<a href="{% url "places:fifth_place" %}" class="button alt button-anim">Подробнее <i class="fa-solid fa-angles-right"></i></a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box animation">
								<div class="image fit">
									<img src="{% static "images/sixth_place_2(index).png" %}" alt="" width="600" height="300"></div>
								<div class="content animation">
									<header class="align-center"><p>Любимое место детей</p>
										<h2>Детский парк</h2>
									</header><p style="text-align: center;">Детский парк это — комплексное, многофункциональное учреждение культуры, которое организует культурно-досуговую и 
										физкультурно-оздоровительную работу среди населения.
										</p>
									<footer class="align-center">
										<a href="{% url "places:sixth_place" %}" class="button alt">Подробнее <i class="fa-solid fa-angles-right"></i></a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box animation">
								<div class="image fit">
									<img src="{% static "images/seventh_place_bg_1(index).png" %}" alt="" width="600" height="300"></div>
								<div class="content animation">
									<header class="align-center"><p>Небольшой сквер с памятником герою Великой Отечественной войны генерал-майору Леонтию Гуртьеву.</p>
										<h2>Сквер Гуртьева</h2>
									</header><p style="text-align: center;">Памятник Л. Н. Гуртьеву — памятник Герою Советского Союза советскому военачальнику, погибшему при освобождении 
										города Орла от немецко-фашистских захватчиков.</p>
									<footer class="align-center">
										<a href="{% url "places:seventh_place" %}" class="button alt">Подробнее <i class="fa-solid fa-angles-right"></i></a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box animation">
								<div class="image fit">
									<img src="{% static "images/eigth_place_1(index).png" %}" alt="" width="600" height="300"></div>
								<div class="content animation">
									<header class="align-center"><p>Орловский Государственный Университет. Главный во всей области. Имеет в своих владениях огромную библиотеку.</p>
										<h2>ОГУ</h2>
									</header><p style="text-align: center;">Орло́вский госуда́рственный университе́т имени И. С. Тургенева (ОГУ) — высшее учебное заведение в городе Орле и Орловской области. Один из региональных опорных университетов.
										23 июня 1919 года коллегия высших учебных заведений Народного комиссариата по просвещению приняла решение об образовании Орловского пролетарского университета.
									</p>
									<footer class="align-center">
										<a href="{% url "places:eigth_place" %}" class="button alt">Подробнее <i class="fa-solid fa-angles-right"></i></a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box animation">
								<div class="image fit">
									<img src="{% static "images/nineth_place_1(index).png" %}" alt="" width="600" height="300"></div>
								<div class="content animation">
									<header class="align-center"><p>Исторический памятник знаменитому Ивану Грозному, который расположен возле Детского Парка.</p>
										<h2>Памятник Ивану Грозному</h2>
									</header><p style="text-align: center;">Памятник расположен на набережной близ Богоявленского собора, недалеко от слияния рек Оки и Орлика, где в 1566 году по указу царя Ивана IV была основана крепость Орёл.</p>
									<footer class="align-center">
										<a href="{% url "places:nineth_place" %}" class="button alt">Подробнее <i class="fa-solid fa-angles-right"></i></a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box animation">
								<div class="image fit">
									<img src="{% static "images/tenth_place_1.png" %}" alt="" width="600" height="300"></div>
								<div class="content animation">
									<header class="align-center"><p>Памятник установлен в 1976-м году в...</p>
										<h2>Памятник Героям Гражданской войны</h2>
									</header><p style="text-align: center;">Девушка в буденовке, в шинели и тяжелых сапогах — чтобы подчеркнуть хрупкость героини — символ жертвенности, подвига, надежды и новой жизни.</p>
									<footer class="align-center">
										<a href="{% url "places:tenth_place" %}" class="button alt">Подробнее <i class="fa-solid fa-angles-right"></i></a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<!-- Two -->
			 <section id="two" class="wrapper style15">
				<div class="inner animation">
					<header class="align-center">
						<p>Heart Of Orel</p>
						<h2 style="font-weight: 900; color: #fff;">А теперь посмотрите галерею из фотографий этих замечательных мест</h2>
					</header>
				</div>
			</section>
			
			<!-- Three -->
			 <section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center animation">
						<p class="special" style="color: #000;">Heart Of Orel</p>
						<h2 style="font-weight: 900; color: #fff;">ОСНОВНАЯ ГАЛЕРЕЯ</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit animation">
								<img src="{% static "images/sixth_place_2.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/seventh_place_2.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/sixth_place_1.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/seventh_place_bg_1.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/nineth_place_1.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/fifth_place_2.jpg" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/first_place_1.jpg" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/seventh_place_4.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/sixth_place_4.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/third_place_1.jpg" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/eigth_place_3.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/eigth_place_1.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/seventh_place_3.png" %}" alt="" width="600" height="300">
							</div>
						</div>
						<div>
							<div class="image fit animation">
								<img src="{% static "images/fourth_place_2.jpg" %}" alt="" width="600" height="300">
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						{% comment %} <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> {% endcomment %}
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
			</footer>
			<div class="copyright">
				Сайт разработали: <br> 
				Apex Team<br>
				{% comment %} <hr style="border: 1px solid #0c000c; width: 50%; margin: 20px 25% 20px 25%;"> {% endcomment %}
				&copy; 2025 Все права защищены. <br>
				<br>
				<br>
				Альфа версия - 0.7.1
			</div>

		<!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.scrollex.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		<script src="{% static "js/animation.js" %}"></script>
		<script src="{% static "js/message.js" %}"></script>
		<script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>
	</body>
</html>
