{% load static %}

<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }}</title>
		
		{% comment %} Таблицы стилей {% endcomment %}
		<link rel="stylesheet" href="{% static "css/main.css" %}">
        <link rel="stylesheet" href="{% static "css/about.css" %}">

        {% comment %} Иконка {% endcomment %}
        <link rel="icon" href="{% static "icons/icon6.png" %}">

        {% comment %} Шрифт {% endcomment %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
<body class="subpage">

		<!-- Header -->
		<header id="header"><div class="logo"><a href="{% url "main:index" %}">Heart Of Orel</a></div>
				<a href="#menu">Меню</a>
		</header>
		
		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="{% url "main:index" %}"><i class="fa-solid fa-house"></i>   Главная</a></li>
				<li><a href="{% url "about:about" %}"><i class="fa-solid fa-user"></i>   О нас</a></li>
				<li><a href="{% url "places:places" %}"><i class="fa-solid fa-map-location"></i>    Малоизвестные места</a></li>

				{% if user.is_admin or user.is_staff %}
					<li><a href="{% url "admin:index" %}"><i class="fa-solid fa-screwdriver-wrench"></i>    Админ панель</a></li>
				{% endif %}

				{% if not user.is_authenticated %}
					<li><a href="{% url "users:login" %}"><i class="fa-solid fa-right-to-bracket"></i>    Войти</a></li>
				{% else %}
					<li><a href="{% url "users:profile" %}"><i class="fa-solid fa-user"></i>    Профиль</a></li>
					<li><a href="{% url "users:logout" %}"><i class="fa-solid fa-person-running"></i>    Выйти из аккаунта</a></li>
				{% endif %}

			</ul>
		</nav>
		
		<!-- One -->
		<section id="One" class="wrapper style16">
			<div class="inner">
				<header class="align-center">
					<p>Heart of Orel</p>
					<h2 style="color: #fff;">Информация о нашем проекте и команде</h2>
				</header>
			</div>
		</section>
		
		<!-- Two -->
		<section id="two" class="wrapper style2">
			<div class="inner">
				<div class="box">
					<div class="content">
						<header class="align-center">
							<p>Проект и команда</p>
							<h2>Проект "Сердце Орла"</h2>
						</header>

						<p><b>"Heart of Orel" - это веб-проект,</b> призванный раскрыть красоту и историю всех значимых мест города Орла, 
							будь то давно известные или скрытые от глаз большинства. Проект стремится популяризировать локальный туризм и привлечь 
							внимание как к знаковым достопримечательностям, так и к уголкам, которые часто остаются в тени. 
						</p>

						<p>
							<b>Цель проекта</b> – показать многогранный характер города, его живую историю и культурное наследие, 
							предлагая пользователям новый взгляд на привычный и 
							неизведанный ландшафт.
						</p>

						<p>
							<b>Команда "Heart of Orel":</b>
						</p>

						<p>
							<b>Этот амбициозный проект</b> реализуется слаженной командой студентов, каждый из которых вносит свой уникальный вклад:
						</p>

						<p>
							<b>•  Селин Дмитрий (Full-stack разработчик, архитектор):</b> Дмитрий отвечает за техническую реализацию проекта. 
							Он разрабатывает архитектуру сайта, обеспечивает его функциональность и стабильную работу как на клиентской, 
							так и на серверной стороне. Его навыки гарантируют, что сайт будет удобным, отзывчивым и адаптированным под разные устройства. 
							Как архитектор, он обеспечивает масштабируемость и возможность дальнейшего развития проекта. <br>
							<b>•  Анисимов Кирилл (Технический писатель):</b> Кирилл отвечает за написание документации и курсовой работы. 
							Он обеспечивает структурирование информации по проекту, упрощает эксплуатацию сайта и владеет коммуникативными навыками
							для выстраивания взаимодействия с командой.<br>
							<b>•  Григорьянц Амалия (Фотограф и дизайнер):</b> Амалия создает визуальный образ проекта. Ее фотографии оживляют страницы сайта, 
							позволяя пользователям увидеть красоту и уникальность как известных, так и малоизвестных мест Орла.<br>
							<b>•  Григорьян Михаил (Редактор и медиа специалист):</b> Михаил отвечает за наполнение сайта качественным и интересным контентом.
							Он собирает информацию, пишет тексты, редактирует материалы и обеспечивает их соответствие целевой аудитории. Он также 
							занимается продвижением проекта в социальных сетях и других медиа каналах. <br>
							<b>•  Шохина Евгения (Системный аналитик):</b> Евгения анализирует потребности пользователей, определяет функциональные 
							требования к сайту, а также оценивает эффективность проекта. Ее работа помогает команде создавать продукт, который максимально 
							соответствует ожиданиям аудитории и достигает поставленных целей. <br>
							<br>
							<b>"Heart of Orel"</b> – это путеводитель по всем сердцу Орла, где каждый сможет найти что-то новое и интересное для себя. Проект призван вдохновить жителей и гостей города на изучение его истории, культуры и природы, создавая тем самым более глубокую связь с родным краем.</p>
						</p>
							
						</div>
					</div>
				</div>
			</section>
			
			<!-- Footer -->
			 <footer id="footer">
				<div class="container">
					<ul class="icons">
						{% comment %} <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li> {% endcomment %}
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
			</footer>
			<div class="copyright">
				Сайт разработали: <br> 
				Apex Team<br>
				{% comment %} <hr style="border: 1px solid #0c000c; width: 50%; margin: 20px 25% 20px 25%;"> {% endcomment %}
				&copy; 2025 Все права защищены.
			</div>

		<!-- Scripts -->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.scrollex.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/util.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
		<script src="{% static "js/animation.js" %}"></script>
		<script src="https://kit.fontawesome.com/c6ba37b0b2.js" crossorigin="anonymous"></script>
	</body>
</html>
